*:root {
  --gray: #707070;
  --white: #ffffff;
  --yellow: #fdb03d;
  --font-color: #707070;
  --border-color-light: #eee;
  --bg-color: #fff;
  --secondary-color: #292560;
  --black: #000000;
   --bg-light: #fafafa;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}
html{font-size: 14px;}